*.png
*.jpg
*.jpeg
*.pt
*.out
*.txt
*.sh
!requeriments.txt
*.err
*.tar.gz
__pycache__/
*.py[cod]
*wandb/
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.gz.part
*.pth.tar.gz.part.1
*.pth.tar.gz.part.2
*.pth.tar.gz.part.3
*.pth.tar.gz.part.4